body{
    padding-bottom: 3%;
}

.nav-bar{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #212a3e;
}

.linha{
    width: 100%;
    height: 1px;
    background: black;
}

.link-nav{
    margin-right: 36%;
}

.logo-nav{
    height: auto;
    margin-left: 2%;
    border-radius: 20px;
}

.logo-site{
    height: 120px;  
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
 }

 
 ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

li {
   text-decoration: none;
   list-style: none;
   display: flex;
   text-decoration: none;
   transition: background-color 1s ease;
   flex-direction: row;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 10px 5px;
   border-radius: 5px;
   border: 1px solid rgb(0, 195, 255);
}

li:hover {
    background-color: rgb(0, 195, 255);
    list-style: none;
    text-decoration: none;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 5px 28px 5px 30px;
    margin: 0 15px;
    color: rgb(0, 195, 255);
    text-decoration: none;
}

 .nav-bar .link-nav .links a {
    text-decoration: none;
  }

#base-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px 400px;
}

#borda-texto{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(155, 164, 181);
    padding: 10px;
}

#base-site{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.base-conteudo{
    margin-top: 10px;
    height: auto;
    justify-content: space-between;
    display: inline-block;
}

h1{
    align-items: center;
    justify-content: center;
}

.titulo-1{
    justify-content: center;
}

.base-introducao{
    display: flex;
    flex-direction: column;
}

p{
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-size:30px;
    text-indent: 20px;
    padding: 0px 5%;
    display: inline-block;
}

.imagem-fake-news{
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 1%;
    margin-top: 9%;
    margin-right: 8px;
    border-radius: 10px;
}

.subtitulo{
    text-align: center;
    margin: 15px 0;
}

.introducao{
    padding: 0px 5%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-size:30px;
    text-align: justify;
}

.texto-imagem{
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 8px;
}

.imagem-covid{
    width: auto;
    height: auto;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}

.imagem-papa{
    width: auto;
    height: auto;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 2%;
}

.texto-papa{
    padding-left: 5%;
}

#inicio{
    text-align: justify;
}
.imagem-twitter{
    width: auto;
    height: auto;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 2%;
}

#creditos{
    text-align: center;
    font-size: 15px;
}