.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #212a3e;
}

.logo-nav{
    height: auto;
    float: left;
    float: left;
    margin-left: 2%;

    border-radius: 20px;
}

.logo-site{
    height: 100px;
}

.link-nav{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
    height: auto;
    text-decoration: none;
    color:white;

}

.links{
    display: flex;
    padding: 0px 50%;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.base-conteudo{
    margin-top: 10px;
    height: auto;
    background-color: #394867;
}
p{
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size:30px;
    text-indent: 20px;
}